body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
H1{
    text-align: center;
    
}
#todo-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#todo-list{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-item{
    background-color: none;
    padding: 1px;
    
}
.completed{
    text-decoration: line-through;
}
