*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 154, 255);
    background-image: url( about-us.png);
    background-repeat: no-repeat;
    background-size: 900px;
    color: rgb(0, 0, 0);
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    text-align: center;
    
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
#conteudo{
    height: 90vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}
#section{
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin: 50px;
    padding: 20px;
}
.servicos{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.sobre{
    display: flex;
    justify-content:  right;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(255, 65, 245);
    color: aliceblue;
}
.depoimentos{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(255, 65, 245);
    color: aliceblue;
}
#nav{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    width: 100%;
    
}
footer{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}