body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
}
header{
background-color: darkslategray;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
main{
background-color: blanchedalmond;
}
footer{
background-color: black;
}
div{
    text-align: center;
    font-size: 18px;
}
#minha-foto{
    width: 300px;
    border-radius: 100%;
}
.Sobre-mim{
    display: flex;
    margin: 100px;
    justify-content: center;
}
#texto-sobre-mim{
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    font-size: 20px;
    border: 1px solid  #212227;
    border-radius: 50px;
    background-color: #8693ab;
}
p{
    margin: 0px;
    padding: 0px;
}

.items{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    padding-top: 50px;
}
.iten-img{
    width: 70%;
}
#img-css{
    width: 150px;
}
.item-txt{
    font-size: 22px;
}
.item {
    min-height: 200px;
    width: 300px;
    border: 2px solid black;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-img1 {
    width: 100%;
}

.item-img2 {
    width: 70%;
}

.item-img3 {
    width: 180%;
}
.footer-itens{
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}

.img-link{
    height: 40px;
}

.Contato{
    padding-bottom: 100px;
}