:root{
    --cor-escura: #28262C;
    --cor-clara: #43efc7;
    --cor-clara-efeito: #27e8bb;
}
*{
    margin: 0px;
}
body{
    background-color: var(--cor-escura);
    color: var(--cor-clara);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100vh;
}
h1{
    margin: 20px 0px;
}
p{
    font-size: 4em;
    border: 2px solid var(--cor-clara);
    padding: 5px;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px var(--cor-clara-efeitoZ);
}
button{
    background-color: var(--cor-clara);
    font-size: 1.5em;
    box-shadow: 0px 0px 5px 1px var(--cor-clara-efeito);
    border-radius: 20px;
    padding: 15px;
    margin: 0px 10px;
    cursor: pointer;
}