#todo-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#todo-list{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.completed{
    text-decoration: line-through;
}
